%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.umg { //prefix our styles

  //colors
  $main: #f9ba00;
  $text: #444;
  $dimmed: #888;
  $black: #000;
  $lightBorder: #eee;

  &_container {
    margin: auto;
    line-height: 1.3;

    .jq-radio {
      float: left;
      width: 25px;
      height: 25px;
      margin: -2px 0 0 -40px;
      background: no-repeat -25px 0 url("../img/radio.png");
      &.checked {
        background-position: 0 0;
      }
    }

  }

  &_button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    background: $main;
    color: #fff;
    &:hover {
      background: darken($main, 2%);
    }
    &--secondary {
      background: $black;
      &:hover {
        background: lighten($black, 10%);
      }
    }
    &--disabled {
      background: $dimmed;
      cursor: not-allowed;
    }
  }

  &_progress {
    margin: 10px 0 20px;
    &-caption {
      font-size: 14px;
      color: $dimmed;
    }
    &-bar {
      height: 5px;
      margin: 4px 0;
      background: $dimmed;
    }
    &-barInner {
      float: left;
      height: 5px;
      background: $main;
    }
  }

  &_body {
    @extend %clearfix;
    &-list {
      position: relative;
      z-index: 1;
      float: left;
      width: 40%;
      margin: 0;
      padding: 20px 10px;
      box-sizing: border-box;
      box-shadow: 0 0 3px rgba(0,0,0,.4);
    }
    &-listLi {
      padding: 4px 10px;
      border-top: 1px solid $lightBorder;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      &:first-child {
        border-top: none;
      }
//            position: relative;
//            float: left;
//            clear: left;
//            background: #fff;
//            &:hover {
//        z-index: 1;
//        max-width: none;
//        box-shadow: 0 0 3px rgba(0,0,0,.4);
//      }
    }
    &-answer {
      float: right;
      width: 60%;
      padding-left: 40px;
      padding-top: 20px;
      box-sizing: border-box;
    }
    &-answerCaption {
      font-size: 16px;
      color: $dimmed;
    }
    &-answerList {
      @extend %clearfix;
      margin: 20px 0;
    }
    &-answerItem {
       display: block;
       margin: 14px 0;
       padding-left: 42px;
       font-size: 16px;
       box-sizing: border-box;
    }
    &-controls {
      text-align: justify;
      .umg_button {
        margin-bottom: 10px;
      }
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
  }

  @media (max-width: 600px) {
    &_body-list,
    &_body-answer {
      float: none;
      width: auto;
      overflow: hidden;
    }
    &_body-listLi {
      float: left;
      width: 50%;
      border: none;
      font-size: 14px;
    }
    &_body-answerList{
      margin-bottom: 10px;
    }
    &_body-answerItem {
      float: left;
      width: 50%;
      font-size: 14px;
      margin: 8px 0;
      padding: 0 10px 0 46px;
    }
    &_body-answerCaption {
      display: none;
    }
    &_body-answer {
      padding: 0;
    }
    &_body-controls {
      padding: 10px;
    }
  }

  @media (max-width: 380px) {
    &_body-controls {
      .umg_button {
        display: block;
      }
    }
    &_body-answerItem {
      float: none;
      width: auto;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }



}

