%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//remove popup
.b-share__handle:first-child {
  display: none;
}

.umg { //prefix our styles

  //colors
  $main: #f9ba00;
  $text: #444;
  $dimmed: #888;
  $black: #000;
  $lightBorder: #eee;

  //media widths
  $widthTablet: 1024px;
  $widthPhone: 768px;

  &_container {
    opacity: 0;
    height: 0;
    transition: .2s opacity;
    &.loaded {
      opacity: 1;
      height: auto;
      &+.umg_preloader {
        display: none;
      }
    }
    margin: auto;
    line-height: 1.3;
    padding-bottom: 40px;

    input[type="radio"] {display: none;}
    .radio-view {
      float: left;
      width: 25px;
      height: 25px;
      margin: -2px 0 0 -40px;
      background: no-repeat -25px 0 url("../img/radio.png");
    }
    input[type="radio"]:checked + .radio-view {
      background-position: 0 0;
    }
  }

  &_hidden {
    visibility: hidden;
  }

  &_button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    background: $main;
    color: #fff;
    min-width: 100px;
    text-align: center;
    &:hover {
      background: darken($main, 2%);
    }
    &--secondary {
      background: $black;
      &:hover {
        background: lighten($black, 10%);
      }
    }
    &--disabled {
      background: #ddd !important;
      cursor: default !important;
    }
  }

  &_progress {
    height: 60px;
    opacity: 1;
    overflow: hidden;
    transition-duration: .4s;
    &.ng-hide {
      opacity: 0;
      height: 0;
    }
    &-caption {
      font-size: 14px;
      color: $dimmed;
    }
    &-bar {
      height: 5px;
      margin: 4px 0;
      background: $dimmed;
    }
    &-barInner {
      float: left;
      height: 5px;
      background: $main;
      //transition-duration: .2s;
    }
  }

  &_body {
    @extend %clearfix;
    position: relative;
    top: 0;
    opacity: 1;
    transition-duration: .6s;
    &.ng-hide {
      top: 20px;
      transition-duration: 0;
      opacity: 0;
      .umg_body-list {
        top: -20px;
        left: -20px;
        transition-duration: 0;

      }
      .umg_body-answer {
        opacity: 0;
        transition-duration: 0;
        transition-delay: 0;
      }
    }
    &-list {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      float: left;
      width: 40%;
      margin: 0 !important;
      padding: 20px 10px;
      box-sizing: border-box;
      box-shadow: 0 0 3px rgba(0,0,0,.4);
      transition-duration: .6s;
      @media (max-width: $widthTablet) {
        float: none;
        left: 0 !important;
        width: auto;
        overflow: hidden;
      }
    }
    &-listLi {
      padding: 4px 10px;
      border-top: 1px solid $lightBorder;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      margin: 0 !important;
      box-sizing: border-box;
      font-size: 14px;
      @media (max-width: $widthTablet) {
        float: left;
        width: 50%;
        border: none;
      }
      &:first-child {
        border-top: none;
      }
//            position: relative;
//            float: left;
//            clear: left;
//            background: #fff;
//            &:hover {
//        z-index: 1;
//        max-width: none;
//        box-shadow: 0 0 3px rgba(0,0,0,.4);
//      }
    }
    &-answer {
      opacity: 1;
      transition-duration: .8s;
      transition-delay: .4s;
      float: right;
      width: 60%;
      padding-left: 40px;
      padding-top: 20px;
      box-sizing: border-box;
      @media (max-width: $widthTablet) {
        float: none;
        left: 0 !important;
        width: auto;
        padding: 0;
        overflow: hidden;
      }
    }
    &-answerCaption {
      font-size: 14px;
      color: $dimmed;
      @media (max-width: $widthTablet) {
        display: none;
      }
    }
    &-answerList {
      @extend %clearfix;
      margin: 20px 0;
      @media (max-width: $widthTablet) {
        margin-bottom: 10px;
      }
    }
    &-answerItem {
       display: block;
       margin: 14px 0;
       padding-left: 42px;
       font-size: 14px;
       box-sizing: border-box;
       @media (max-width: $widthTablet) {
         display: inline-block;
         vertical-align: top;
         width: 50%;
         margin: 8px 0;
         padding: 0 10px 0 46px;
       }
       @media (max-width: $widthPhone) {
         display: block;
         width: auto;
         padding-top: 4px;
         padding-bottom: 4px;
       }
    }
    &-controls {
      text-align: justify;
      .umg_button {
        margin-bottom: 10px;
      }
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
      @media (max-width: $widthTablet) {
        padding: 10px;
      }
      @media (max-width: $widthPhone) {
        padding-left: 0;
        padding-right: 0;
        .umg_button {
          display: block;
          $shift: 52px;
          &--back {
            top: $shift;
          }
          &--front {
            top: -$shift;
          }
        }
      }
    }
  }

  &_results {
    opacity: 0;
    transition-duration: .6s;
    &.shown {
      //top: 20px;
      //transition-duration: 0;
      opacity: 1;
    }
    &-table {
      margin-top: 20px;
      border-collapse: collapse;
      box-shadow: 0 0 4px rgba(0,0,0,.4);
      font-size: 14px;
      opacity: 1;
      transition-duration: .4s;
      &.ng-hide {opacity: 0;}
      th, td {
        padding: 10px;
        background: none !important;
      }
      th {
        background: $black !important;
        color: #fff;
        font-size: 13px;
        font-weight: normal;
        white-space: nowrap;
      }
      @media (max-width: $widthTablet) {
        margin-top: 6px;
        th {white-space: normal;}
      }
    }
    &-tableAnswerRow {
      border-top: 1px solid #ccc;
      background: #ffecec !important;
      &.correct {
        background: #effdf4 !important;
      }
    }
    &-title {
      padding: 20px 0 10px;
      font-size: 22px;
      color: $dimmed;
      text-align: center;
    }
    &-toggle {
      margin-bottom: 10px;
      font-size: 12px;
      text-align: center;
      a {
        color: inherit !important;
        cursor: pointer;
        transition-duration: 0 !important;
      }
      a, .umg_button {
        margin: 0 5px;
      }
      @media (max-width: $widthTablet) {
        & a,
        & .umg_button {
          margin: 0;
        }
        & .umg_button {
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }

  &_soc {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
  }

}

.umg_preloader {
  height: 32px;
  background: center 0 no-repeat url("../img/preloader.gif");
}
